<p id="notice"><%= notice %></p>

<p>
  <strong>Id receta:</strong>
  <%= @recetum.Id_receta %>
</p>

<%= link_to 'Edit', edit_recetum_path(@recetum), class:"btn btn-dark" %> 
<%= link_to 'Back', receta_path, class:"btn btn-dark" %>
